<div class="col-md-12" >
  <ul class="list-group">
    <li class="list-group-item padding-7 whitesmoke">
      <i class="fa fa-users"></i><span>&nbsp;Classmates</span>
    </li>
    <li class="list-group-item padding-7 whitesmoke">
      <div class="row">
        <div class="col-md-4">
          <input type="text" class="form-control form-control-sm" ng-model="f.fellow_name" placeholder="Search to your fellows">
        </div>
        <div class="col-md-8"></div>
      </div>
    </li>
    <li class="list-group-item">
     <div class="row bg-white" >
        <div class="col-md-6 padding-2" >
           <div class="card">
            <div class="card-body padding-1">
              <div class="col">
              <div class="row">
                <div style="flex: 0 0 24%;max-width: 24%;">
                  <img src="uploads/dane.jpg" style="width: 95px;height: 90px;border: 1px solid #d1d5da !important;">
                </div>
                <div style="flex: 0 0 76%;max-width: 76%;padding-right: 7px;">
                  <div style="flex: 0 0 100%;max-width: 100%;font-size: 15px;padding-top: 10px;">
                    <span class="blue alumni-name">
                      Dane Vincent O. Painaga
                    </span>
                  </div>
                  <div style="flex: 0 0 100%;max-width: 100%;">
                    <span class="alumni-course">
                      BS Information Technology
                    </span>
                  </div>
                  <div style="flex: 0 0 100%;max-width: 100%;">
                    <span class="alumni-section">Section-{{c.section}}&nbsp;-&nbsp;2014</span>
                    <button class="btn btn-info btn-sm float-right font-12" ng-click="f.viewFellow(c)">Follow</button>
                  </div>
                </div>
              </div>
              </div>
            </div> 
          </div>                                   
        </div>
        <div class="col-md-6 padding-2" >
           <div class="card">
            <div class="card-body padding-1">
              <div class="col">
              <div class="row">
                <div style="flex: 0 0 24%;max-width: 24%;">
                  <img src="uploads/zoe.jpg" style="width: 95px;height: 90px;border: 1px solid #d1d5da !important;">
                </div>
                <div style="flex: 0 0 76%;max-width: 76%;padding-right: 7px;">
                  <div style="flex: 0 0 100%;max-width: 100%;font-size: 15px;padding-top: 10px;">
                    <span class="blue alumni-name">
                      Dane Vincent O. Painaga
                    </span>
                  </div>
                  <div style="flex: 0 0 100%;max-width: 100%;">
                    <span class="alumni-course">
                      BS Information Technology
                    </span>
                  </div>
                  <div style="flex: 0 0 100%;max-width: 100%;">
                    <span class="alumni-section">Section-{{c.section}}&nbsp;-&nbsp;2014</span>
                    <button class="btn btn-info btn-sm float-right font-12" ng-click="f.viewFellow(c)">Follow</button>
                  </div>
                </div>
              </div>
              </div>
            </div> 
          </div>                                   
        </div>
        <div class="col-md-6 padding-2" >
           <div class="card">
            <div class="card-body padding-1">
              <div class="col">
              <div class="row">
                <div style="flex: 0 0 24%;max-width: 24%;">
                  <img src="uploads/user.jpg" style="width: 95px;height: 90px;border: 1px solid #d1d5da !important;">
                </div>
                <div style="flex: 0 0 76%;max-width: 76%;padding-right: 7px;">
                  <div style="flex: 0 0 100%;max-width: 100%;font-size: 15px;padding-top: 10px;">
                    <span class="blue alumni-name">
                      Dane Vincent O. Painaga
                    </span>
                  </div>
                  <div style="flex: 0 0 100%;max-width: 100%;">
                    <span class="alumni-course">
                      BS Information Technology
                    </span>
                  </div>
                  <div style="flex: 0 0 100%;max-width: 100%;">
                    <span class="alumni-section">Section-{{c.section}}&nbsp;-&nbsp;2014</span>
                    <button class="btn btn-info btn-sm float-right font-12" ng-click="f.viewFellow(c)">Follow</button>
                  </div>
                </div>
              </div>
              </div>
            </div> 
          </div>                                   
        </div>
        <div class="col-md-6 padding-2" >
           <div class="card">
            <div class="card-body padding-1">
              <div class="col">
              <div class="row">
                <div style="flex: 0 0 24%;max-width: 24%;">
                  <img src="uploads/user.jpg" style="width: 95px;height: 90px;border: 1px solid #d1d5da !important;">
                </div>
                <div style="flex: 0 0 76%;max-width: 76%;padding-right: 7px;">
                  <div style="flex: 0 0 100%;max-width: 100%;font-size: 15px;padding-top: 10px;">
                    <span class="blue alumni-name">
                      Dane Vincent O. Painaga
                    </span>
                  </div>
                  <div style="flex: 0 0 100%;max-width: 100%;">
                    <span class="alumni-course">
                      BS Information Technology
                    </span>
                  </div>
                  <div style="flex: 0 0 100%;max-width: 100%;">
                    <span class="alumni-section">Section-{{c.section}}&nbsp;-&nbsp;2014</span>
                    <button class="btn btn-info btn-sm float-right font-12" ng-click="f.viewFellow(c)">Follow</button>
                  </div>
                </div>
              </div>
              </div>
            </div> 
          </div>                                   
        </div>
    </div>  
    </li>
  </ul>
  <br />
</div>