<div class="col-md-12" >
  <ul class="list-group">
    <li class="list-group-item padding-7 whitesmoke">
      <i class="fa fa-users"></i><span>&nbsp;Classmates</span>
    </li>
    <li class="list-group-item padding-7 whitesmoke">
      <div class="row">
        <div class="col-md-4">
          <input type="text" class="form-control form-control-sm" ng-model="f.fellow_name" placeholder="Search to your fellows">
        </div>
        <div class="col-md-8"></div>
      </div>
    </li>
    <li class="list-group-item">
     <div class="row" >
      <div class="col-md-3 padding-5">
        <div class="card padding-5" >
          <img class="card-img-top" src="uploads/zoe.jpg" alt="Card image">
          <div class="card-body text-center">
            <h6 class="card-title">Sophia Elizabeth Painaga</h6>
            <p class="card-text">Some example text.</p>
            <a href="#" class="btn btn-info btn-sm">Follow</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 padding-5">
        <div class="card padding-5" >
          <img class="card-img-top" src="uploads/dane.jpg" alt="Card image">
          <div class="card-body text-center">
            <h6 class="card-title">Dane Vincent Painaga</h6>
            <p class="card-text">Some example text.</p>
            <a href="#" class="btn btn-info btn-sm">Follow</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 padding-5">
        <div class="card padding-5" >
          <img class="card-img-top" src="uploads/1569745479.jpg" alt="Card image">
          <div class="card-body text-center">
            <h6 class="card-title">Dane Vincent Painaga</h6>
            <p class="card-text">Some example text.</p>
            <a href="#" class="btn btn-info btn-sm">Follow</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 padding-5">
        <div class="card padding-5" >
          <img class="card-img-top" src="uploads/user.jpg" alt="Card image">
          <div class="card-body text-center">
            <h6 class="card-title">Dane Vincent Painaga</h6>
            <p class="card-text">Some example text.</p>
            <a href="#" class="btn btn-info btn-sm">Follow</a>
          </div>
        </div>
      </div>
    </div>     
    </li>
  </ul>
  <br />
</div>