<div class="container-fluid">
    <div class="row bg-white box-shadow padding-10" style="height: 49px;">
    	<div class="col-md-12">
    		<a href="/#!/" class="float-right whitesmoke back-btn" style="padding: 4px;width: 33px;height: 30px;}">
    			<i class="fa fa-sign-out-alt"></i>
    		</a>
    	</div>
    </div>
	<div class="row top_1em dashboard-cards fading">
		<div class="col-md-3" style="margin-bottom: 1em;" >
		  <div class="card" ng-click="db.navigate('/admin/manage_accounts')" >
		    <div class="card-body box-shadow">
		    	<div class="row">
		    		<div class="col">
		    			<img src="images/admin.png" style="max-width:50px; ">
		    		</div>
		    		<div class="col">
				      <p class="card-text text-right">Accounts</p>
				      <h4 class="float-right">10000</h4>
		    		</div>	
		    	</div>
		    </div>
		  </div>
		</div>
		<div class="col-md-3" style="margin-bottom: 1em;" >
		  <div class="card" ng-click="db.navigate('/dashboard/security')">
		    <div class="card-body box-shadow">
		    	<div class="row">
		    		<div class="col">
		    			<img src="images/shield.svg" style="max-width:50px; ">
		    		</div>
		    		<div class="col">
				      <p class="card-text text-right">Security</p>
				      <h4 class="float-right">3</h4>
		    		</div>	
		    	</div>
		    </div>
		  </div>
		</div>
	</div>
<!-- 	<div class="row top_point3" ng-controller="dashboardCtrl as db">
		<div class="col">
	  	<ul class="list-group list-group-flush graph-holder-header">
		  <li class="list-group-item padding-5">
		  	<div class="row">
		  		<div class="col-md-8"></div>	
			  	<div class="col-md-4">
					<form>
					  <select name="cars" class="custom-select custom-select-sm">
					    <option selected></option>
					    <option value="solong">Solong</option>
					  </select>
					</form>
			  	</div>
		  	</div>
		  </li>
		  <li class="list-group-item top_point3" >
		  	<canvas class="chart chart-line" chart-data="db.data" chart-labels="db.labels" chart-series="db.series" chart-click="db.onClick" style="max-height: 400px;"></canvas>
		  </li>
		  <li class="list-group-item top_point3">
		  	<div class="row top_1em">
		  		<div class="col-md-7">
		  			<canvas class="chart chart-bar" chart-data="db.data1" chart-labels="db.labels1" chart-series="db.series1" chart-click="db.onClick" style="max-height: 300px;"></canvas> 
		  		</div>
		  		<div class="col-md-5">

		  		</div>
		  	</div>
		  </li>
		</ul>  			
		</div>
	</div> -->
	<br />
</div>