<header id="header">
  <img src="images/linkedin.svg" style="width: 50px; border-radius: 50%;" >
  <nav>
    <div class="col" style="padding: 15px;">
      <ul class="header-menus">
        <li>
          <div class="row">
            <form>
              <input type="text" class="search-bar" placeholder="Search People">
              <button><i class="fa fa-search"></i></button>
            </form>
          </div>
        </li>
        <li>
          <a href="">
            <span>Dane Vincent</span>
          </a>
        </li>
        <li>
          <a href="">
            <span>Home</span>
          </a>
        </li>
        <li>
          <a href="">
            <i class="fa fa-envelope"></i>
          </a>
        </li>
        <li>
          <a href="">
            <i class="fa fa-bell"></i>
          </a>
        </li>
        <li>
          <a href="">
            <img src="uploads/dane.jpg" class="user-avatar" alt="" />
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<div class="container" style="padding-left: 30px;padding-right:30px;margin-top: 63px;">
  <br />
  <div class="row" >
    <div class="col-md-3 col-xl-3 left-panel">
      <div class="widget">
        <h4 class="widget-title">Newsfeed</h4>
        <div class="your-page">
          <figure>
            <a href="#" title=""><img src="uploads/dane.jpg" alt=""></a>
            <span>@Alumni</span>
          </figure>
          <div class="page-meta">
            <a href="#" title="" class="underline">Dane Vincent</a>
            <span><a href="insight.html" title="">Software Developer</a></span>
            <span><a href="insight.html" title="">Accenture</a></span>
          </div>
        </div>
      </div>
 
      <ul class="left-menu">
        <li><a href=""><i class="fa fa-cog"></i>Profile</a></li>
        <li><a href=""><i class="fa fa-users"></i>Friends</a></li>
        <li><a href=""><i class="fa fa-calendar"></i>Event</a></li>
        <li><a href=""><i class="fa fa-hands"></i>Donations</a></li>
        <hr style="margin-top: 1pc; margin-bottom: .5pc;">
        <li>
          <div class="friend-header" style="display: flex;padding: 10px;">
            <div style="width: 50%;flex: 1;color: #515365;font-weight: 500;">
              <span>Friends</span>
            </div>
            <div style="width: 50%;">
              <a href="" style="float: right;margin-bottom: 0;padding: 0px;">See all</a>
            </div>
          </div>
          <div class="col">
            <div class="row" style="padding: 0px 8px;">
              <div class="col-4" style="padding: 2px;">
                <img src="uploads/dane.jpg" style="width: 100%;height: 100%;border-radius: 5px;">
              </div>
              <div class="col-4" style="padding: 2px;">
                <img src="uploads/1569745479.jpg" style="width: 100%;height: 100%;border-radius: 5px;">
              </div>
              <div class="col-4" style="padding: 2px;">
                <img src="uploads/1569744235.jpg" style="width: 100%;height: 100%;border-radius: 5px;">
              </div>
              <div class="col-4" style="padding: 2px;">
                <img src="images/web.gif" style="width: 100%;height: 100%;border-radius: 5px;">
              </div>
              <div class="col-4" style="padding: 2px;">
                <img src="uploads/dane.jpg" style="width: 100%;height: 100%;border-radius: 5px;">
              </div>
            </div>
          </div>
        </li>
      </ul>

    </div>
    <div class="col-md-6 col-xl-6 center-panel">
      <div class="container">
        <div class="row" style="border-radius: 8px;border: 1px solid #e4e4e4;">
          <div class="post-new">
            <div class="post-new-body">
              <div class="post-new-image">
                <img src="uploads/dane.jpg">
              </div>
              <div class="post-new-content">
                <input type="text" class="form-control form-control post-new-input" placeholder="Whats on your mind?">
              </div>
            </div>
            <hr style="margin-top: .7pc; margin-bottom: .5pc;">
            <div class="button-type">
              <a href="">
                <img src="images/shield.svg">
                Photo/Video
              </a>
              <a href="" >
                <img src="images/calendar.svg">
                Tag Friend
              </a>
              <a href="">
                <img src="images/add.svg">
                Feeling/Activity
              </a>
            </div>
          </div>
        </div>
        <div class="row" style="border-radius: 8px;border: 1px solid #e4e4e4;border-radius: 10px;margin-top: 1em;box-shadow: 0px 0.0625pc 0.5625pc -0.125pc #d2d2d2;">
          <div class="posts-header" style="display: flex; background-color: #fff;width: 100%;padding: 15pt .15625in 0px .15625in;">
            <div class="post-image" style="width: 11%;">
              <img src="images/dane.jpg" style="width: 50px;border-radius: 100%;border:3px solid whitesmoke;">
            </div>
            <div class="post-title" style="width: 89%;display: block;margin-left: .4375pc;">
              <i class="fa fa-feather" style="float: right;color:#757a95;padding-top: 5px;"></i>
              <p style="margin-bottom: 0px;color: #545454;">Stella Johnson</p>
              <p style="margin-bottom: 0px;color: #6d6d6d;font-size: 13px;">5hrs</p>
            </div>
          </div>
          <div class="posts-description" style="background-color: #fff;width: 100%;padding: 0px .15625in 0px .15625in;">
            <hr style="margin-top: .7pc; margin-bottom: .5pc;">
            <p style="padding-top: 5px;color: #6d6d6d;font-size: 14.5px;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim laoreet dolore magna aliquam erat volutpat</p>
          </div>
          <div class="post-images" style="width: 100%; height: 300px; overflow: hidden;position: relative;">
            <img src="images/web.gif" style="width: 100%;min-width: 100%; max-width: 100%;height: auto;box-sizing: border-box;position: absolute;">
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-3 col-xl-3 " style="border: 1px solid #ede9e9;"></div>
  </div>
  <br />
  <br />
</div>