<div class="row header-holder">
  <div class="container">
    <header id="header">
      <img src="images/linkedin.svg" style="width: 50px; border-radius: 50%;" >
      <nav>
        <div class="col" style="padding: 15px 0px 15px 15px;">
          <ul class="header-menus">
            <li>
              <div class="row">
                <form>
                  <input type="text" class="search-bar" placeholder="Search People">
                  <button><i class="fa fa-search"></i></button>
                </form>
              </div>
            </li>
            <li>
              <a href="">
                <span>Dane Vincent</span>
              </a>
            </li>
            <li>
              <a href="">
                <span>Home</span>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fa fa-envelope"></i>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fa fa-bell"></i>
              </a>
            </li>
            <li>
              <a href="">
                <img src="uploads/dane.jpg" class="user-avatar" alt="" />
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
  </div>
</div>