<div class="row" >
	<div class="col-md-1"></div>   
	<div class="col-md-9">
		<div class="row " style="margin-top: .3em;">
			<div class="col-md-1"></div>
			<div class="col-md-11 col-sm-12">
	    		<div class="row" ui-view="pages-view"></div>
	  		</div>
		</div>
	</div>
	<div class="col-md-2">
		<div style="background-color: white; border: 1px solid #dddfe2; float: right;width: 213px; height: 100%; position: fixed;">
			<ul class="list-group list-group-flush">
				<li class="list-group-item " style="height: 125px;background-color: #f8fafc;">
					<p style="margin-bottom: .5em;color: #99a0a0;">
						<i class="fa fa-users"></i> Followers...
					</p>
					<img src="uploads/zoe.jpg" style="width: 45px;border-radius: 50%;">&nbsp;<span style="font-weight: 500;">
					<img src="uploads/dane.jpg" style="width: 45px;border-radius: 50%;">&nbsp;<span style="font-weight: 500;">
					<img src="images/dane.jpg" style="width: 45px;border-radius: 50%;">&nbsp;<span style="font-weight: 500;">
					<a href="/#!/profile/{{accountName}}/followers">See more...</a>
				</li>
				<li class="list-group-item padding-7" style="background-color: #0ee7e1;color:white;">
					<img src="images/online.png" style="width:10px;">&nbsp;<span style="font-weight: 500;"><span>Online</span>
				</li>
				  <li class="list-group-item padding-7" >
				  	<img src="uploads/dane.jpg" style="width: 30px;border-radius: 50%;">&nbsp;<span style="font-weight: 500;">
				  		<span style="font-size: 12px;">Dane Vincent Painaga</span>
			  			<img src="images/online.png" style="width:9px;float: right;position: relative;top:10px;right: 3px;">&nbsp;<span style="font-weight: 500;">
				  </li>
				  <li class="list-group-item padding-7">
				  	<img src="images/dane.jpg" style="width: 30px;border-radius: 50%;">&nbsp;<span style="font-weight: 500;">
				  		<span style="font-size: 12px;">Ame Jane Painaga</span>
			  			<img src="images/online.png" style="width:9px;float: right;position: relative;top:10px;right: 3px;">&nbsp;<span style="font-weight: 500;">
				  </li>
				  <li class="list-group-item padding-7">
				  	<img src="uploads/zoe.jpg" style="width: 30px;border-radius: 50%;">&nbsp;<span style="font-weight: 500;">
				  		<span style="font-size: 12px;">Sophia Elizabeth Painaga</span>
			  			<img src="images/online.png" style="width:9px;float: right;position: relative;top:10px;right: 3px;">&nbsp;<span style="font-weight: 500;">
				  </li>
			</ul>
		</div>
	</div>
</div>