<div class="container-fluid">
	<div class="row bg-white box-shadow padding-10" style="height: 49px;">
    	<div class="col-md-12">
    		<a href="/#!/dashboard" class="float-right whitesmoke back-btn">
    			<i class="fa fa-arrow-left">&nbsp;Back</i>
    		</a>
    	</div>
	</div>
	 <div id="cover-spin" ng-if="!add_users_loader" ></div>
	<br />
	<div class="row">
		<div class="col-md-3">
			<div class="row">
				<div class="col-md-3">
					<button class="btn btn-primary box-shadow" style="font-size: 22px;width: 47px;height:45px;">
						<i class="fa fa-bell"></i>
					</button>
				</div>
				<div class="col">
					<div class="row">
						<div class="col padding-left-0" style="font-family: century gothic; font-weight: bold; ">
							Accounts
						</div>
					</div>
					<div class="row">
						<div class="col padding-left-0" style="font-family: century gothic;font-size: 11px;">
							Add | Update Accounts
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col ">
			<ul class="nav nav-tabs float-right">
			  <li class="nav-item hidden-print cursor " >
			    <a class="nav-link btn-sm left-tab active" data-toggle="tab" data-target="#home" >
					<i class="fa fa-user-plus"></i> Add Accounts
				</a>
			  </li>
			  <li class="nav-item hidden-print cursor ">
			    <a class="nav-link btn-sm right-tab" data-toggle="tab" data-target="#items"  style="">
			    	<i class="fa fa-folder-open"></i> List of Accounts
			    </a>
			  </li>
			</ul>
		</div>
	</div>
	<hr>
	<div class="tab-content fading" style="border-top: 1px solid #339ff5 !important; border: 1px solid gainsboro; font-family: century gothic;">
		<div class="tab-pane container active padding-0 bg-white" id="home" ng-controller="addUserCtrl as au">
			<div class="row">
				<div class="col-md-12">
				    <form ng-submit="au.saveUserDetails()">
				      	<div class="modal-body">
				        	<div class="container">
					            <div class="row">
									<div class="col-md-4 top_1em">
										<div class="form-group">
										  <label for="lastname">Student ID NO.</label>
										  <input type="text" class="form-control form-control-sm custom-txtbox" id="student_id_number" ng-model="au.student_id_number" text required>
										</div>                
									</div>
									<div class="col-md-4 top_1em">
										<div class="form-group">
										  <label for="lastname">Lastname</label>
										  <input type="text" class="form-control form-control-sm custom-txtbox" id="lastname" ng-model="au.name" text required>
										</div>                
									</div>
									<div class="col-md-4 top_1em">
										<div class="form-group">
										  <label for="lastname">Firstname</label>
										  <input type="text" class="form-control form-control-sm custom-txtbox" id="firstname" ng-model="au.firstname" text required>
										</div>                
									</div>
									<div class="col-md-4 top_1em">
										<div class="form-group">
										  <label for="lastname">Middlename</label>
										  <input type="text" class="form-control form-control-sm custom-txtbox" id="middlename" ng-model="au.middlename" text required>
										</div>                
									</div>
									<div class="col-md-4 top_1em">
										<div class="form-group">
										  <label for="lastname">Contact No.</label>
										  <input type="text" class="form-control form-control-sm custom-txtbox" id="lastname" ng-model="au.lastname" text required>
										</div>                
									</div>
									<div class="col-md-4 top_1em">
										<div class="form-group">
										  <label for="lastname">Date of Birth</label>
										  <input type="text" class="form-control form-control-sm custom-txtbox" id="birthdate" ng-model="au.birthdate" text required>
										</div>                
									</div>
									<div class="col-md-4 top_1em">
										<div class="form-group">
										  <label for="lastname">Relationship Status</label>
										  <input type="text" class="form-control form-control-sm custom-txtbox" id="relationship_status" ng-model="au.relationship_status" text required>
										</div>                
									</div>
									<div class="col-md-4 top_1em">
										<div class="form-group">
										  <label for="lastname">Address</label>
										  <input type="text" class="form-control form-control-sm custom-txtbox" id="address" ng-model="au.address" text required>
										</div>                
									</div>
									<div class="col-md-4 top_1em">
										<div class="form-group">
										  <label for="lastname">Permanent Address</label>
										  <input type="text" class="form-control form-control-sm custom-txtbox" id="permanent_address" ng-model="au.permanent_address" text required>
										</div>                
									</div>	
									<div class="col-md-4 top_1em">
										<div class="form-group">
										  <label for="lastname">Year Graduated</label>
										  <input type="text" class="form-control form-control-sm custom-txtbox" id="year_graduated" ng-model="au.year_graduated" text required>
										</div>                
									</div>
									<div class="col-md-4 top_1em">
										<div class="form-group">
										  <label for="lastname">Section</label>
										  <input type="text" class="form-control form-control-sm custom-txtbox" id="section" ng-model="au.section" text required>
										</div>                
									</div>	
									<div class="col-md-4 top_1em">
										<div class="form-group">
										  <label for="lastname">Email</label>
										  <input type="text" class="form-control form-control-sm custom-txtbox" id="email" ng-model="au.email" text required>
										</div>                
									</div>		
					        	</div>
				        	</div>
					        <div class="modal-footer" style="border-top: none;">
					          <button type="submit" class="btn btn-primary" style="border-radius: 0.1rem;" trigger-upload status="au.saving_status" cmodal="au.modalstate" >
					            <i class="fa fa-save"></i>&nbsp;Save
					          </button>
					          <button  type="button" class="btn btn-secondary" style="border-radius: 0.1rem;" ng-click="au.clear()">
					            <i class="fa fa-times-circle"></i>&nbsp;Clear
					          </button>  
					        </div>
				    	</div>
			      	</form>			
				</div>
			</div>
		</div>
		<div class="tab-pane container fade bg-white" id="items" ng-controller="userAccountsCtrl as u">
			<br />
			<div class="row">
				<div class="col-md-4">
					<div class="input-group mb-3" >
					  	<input type="text" class="form-control form-control-sm" placeholder="Name" ng-model="u.search_account">
					  	<div class="input-group-append">
					    	<button class="btn btn-primary btn-sm" type="submit">
					    		<i class="fa fa-search"></i> search
					    	</button>
					  	</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col" style="max-height: 430px; min-height: 430px; overflow: auto;">
				  	<table class="table table-sm table-striped table-dark table-fixed" style="font-family: century gothic;">
					    <thead >
					      <tr>
					        <th>Name</th>
					        <th>username</th>
					        <th>Role</th>
					        <th>Province</th>
					        <th>Municipality</th>
					        <th class="center">Status</th>
					      </tr>
					    </thead>
					    <tbody>
					      <tr ng-repeat="user in u.users_list | filter: u.search_account" ng-if="u.isNotLoading">
					        <td>
					        	<img ng-src="{{ user.user_photo | checkProfilePhoto }}" style="max-width:35px;">
					        	&nbsp;
					        	{{user.name}}
					        </td>
					        <td>{{user.email}}</td>
					        <td>{{user.role}}</td>
					        <td>{{user.province_name}}</td>
					        <td>{{user.municipality}}</td>
					        <td class="center">
					        	<label user-status status="{{user.status}}">
					        		{{user.status}}
					        	</label>
					        	<a href="" data-toggle="modal" data-target="#updateUserModal" data-backdrop="static" ng-click="u.emitUserDetails(user)">
					        		<i class="fa fa-pen float-right" style="margin-right: 5px;margin-top: 10px;"></i>
					        	</a>
					        </td>
					      </tr>
					    </tbody>
			  		</table>
				</div>		
			</div>
		</div>
	</div>
</div>