<div class="widget">
  <h4 class="widget-title">Newsfeed</h4>
  <div class="your-page">
    <figure>
      <a href="#" title=""><img src="uploads/dane.jpg" alt=""></a>
      <span>@Alumni</span>
    </figure>
    <div class="page-meta">
      <a href="#" title="" class="underline">Dane Vincent</a>
      <span><a href="insight.html" title="">Software Developer</a></span>
      <span><a href="insight.html" title="">Accenture</a></span>
    </div>
  </div>
  <hr style="margin-top: .1pc; margin-bottom: 0pc;">
  <ul class="left-menu">
    <li><a href=""><i class="fa fa-bars"></i>Timeline</a></li>
    <li><a href=""><i class="fa fa-users"></i>Friends</a></li>
    <li><a href=""><i class="fa fa-user-plus"></i>Followers</a></li>
    <li><a href=""><i class="fa fa-folder-open"></i>Jobs</a></li>
    <li><a href=""><i class="fa fa-bookmark"></i>Saved</a></li>
    <li><a href=""><i class="fa fa-hands"></i>Donations</a></li>
    <li><a href=""><i class="fa fa-globe-asia"></i>Community</a></li>
    <hr style="margin-top: 1pc; margin-bottom: .5pc;">
    <li>
      <div class="friend-header">
        <div class="friend-header-content-left" >
          <span>Photos</span>
        </div>
        <div class="friend-header-content-right">
          <a href="" style="">See all</a>
        </div>
      </div>
      <div class="col">
        <div class="row friend-image-body">
          <div class="col-4" style="">
            <img src="uploads/dane.jpg">
          </div>
          <div class="col-4">
            <img src="uploads/pic1.jpg" >
          </div>
          <div class="col-4">
            <img src="uploads/pic2.jpg">
          </div>
          <div class="col-4">
            <img src="images/web.gif">
          </div>
          <div class="col-4">
            <img src="uploads/dane.jpg">
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>

<div style="display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 0.7rem;
    background: #fff;
    border-radius: 2px;
    position: sticky;top: 87px;
    ">
  <h4 style="
    color: #515365;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    padding: 15px 20px;width: 100%;margin: 0px;">Friends</h4>
    <ul style="padding-left: 20px;
    padding-right: 20px;text-align: center;margin-bottom: 1.5rem;">
    <hr style="margin-top: .1pc; margin-bottom: 1pc;">
      <li style="list-style: none;    display: inline-block;
    position: relative;
    margin: 3px auto !important;
    padding-left: 3px;
    padding-right: 3px;">
      <a href="">
        <img src="images/user-1.jpg" style="height: 53px;
    width: 53px;
    border-radius: 50%;">
    <span class="online-dot" style="background: #4fbb61;border-radius: 50%;width: .7pc;height: .12in;display: flex;border: 2px solid #fff;position: absolute;right: 4px;top: 29pt;"></span>
      </a>
    </li>
      <li style="list-style: none;    display: inline-block;
    position: relative;
    margin: 3px auto !important;
    padding-left: 3px;
    padding-right: 3px;">
      <a href="">
        <img src="images/user-2.jpg" style="height: 53px;
    width: 53px;
    border-radius: 50%;">
    <span class="online-dot" style="background: #4fbb61;border-radius: 50%;width: .7pc;height: .12in;display: flex;border: 2px solid #fff;position: absolute;right: 4px;top: 29pt;"></span>
      </a>
    </li>
      <li style="list-style: none;    display: inline-block;
    position: relative;
    margin: 3px auto !important;
    padding-left: 3px;
    padding-right: 3px;">
      <a href="">
        <img src="images/user-3.jpg" style="height: 53px;
    width: 53px;
    border-radius: 50%;">
    <span class="online-dot" style="background: #4fbb61;border-radius: 50%;width: .7pc;height: .12in;display: flex;border: 2px solid #fff;position: absolute;right: 4px;top: 29pt;"></span>
      </a>
    </li>
      <li style="list-style: none;    display: inline-block;
    position: relative;
    margin: 3px auto !important;
    padding-left: 3px;
    padding-right: 3px;">
      <a href="">
        <img src="images/user-4.jpg" style="height: 53px;
    width: 53px;
    border-radius: 50%;">
    <span class="online-dot" style="background: #4fbb61;border-radius: 50%;width: .7pc;height: .12in;display: flex;border: 2px solid #fff;position: absolute;right: 4px;top: 29pt;"></span>
      </a>
    </li>
      <li style="list-style: none;    display: inline-block;
    position: relative;
    margin: 3px auto !important;
    padding-left: 3px;
    padding-right: 3px;">
      <a href="">
        <img src="images/user-15.jpg" style="height: 53px;
    width: 53px;
    border-radius: 50%;">
    <span class="online-dot" style="background: #4fbb61;border-radius: 50%;width: .7pc;height: .12in;display: flex;border: 2px solid #fff;position: absolute;right: 4px;top: 29pt;"></span>
      </a>
    </li>
      <li style="list-style: none;    display: inline-block;
    position: relative;
    margin: 3px auto !important;
    padding-left: 3px;
    padding-right: 3px;">
      <a href="">
        <img src="images/user-17.jpg" style="height: 53px;
    width: 53px;
    border-radius: 50%;">
    <span class="online-dot" style="background: #4fbb61;border-radius: 50%;width: .7pc;height: .12in;display: flex;border: 2px solid #fff;position: absolute;right: 4px;top: 29pt;"></span>
      </a>
    </li>
    </li>
      <li style="list-style: none;    display: inline-block;
    position: relative;
    margin: 3px auto !important;
    padding-left: 3px;
    padding-right: 3px;">
      <a href="">
        <img src="images/user-6.jpg" style="height: 53px;
    width: 53px;
    border-radius: 50%;">
    <span class="online-dot" style="background: #4fbb61;border-radius: 50%;width: .7pc;height: .12in;display: flex;border: 2px solid #fff;position: absolute;right: 4px;top: 29pt;"></span>
      </a>
    </li>
    </li>
      <li style="list-style: none;    display: inline-block;
    position: relative;
    margin: 3px auto !important;
    padding-left: 3px;
    padding-right: 3px;">
      <a href="">
        <img src="images/user-9.jpg" style="height: 53px;
    width: 53px;
    border-radius: 50%;">
    <span class="online-dot" style="background: #4fbb61;border-radius: 50%;width: .7pc;height: .12in;display: flex;border: 2px solid #fff;position: absolute;right: 4px;top: 29pt;"></span>
      </a>
    </li>
    </li>
      <li style="list-style: none;    display: inline-block;
    position: relative;
    margin: 3px auto !important;
    padding-left: 3px;
    padding-right: 3px;">
      <a href="">
        <img src="images/user-7.jpg" style="height: 53px;
    width: 53px;
    border-radius: 50%;">
    <span class="online-dot" style="background: #4fbb61;border-radius: 50%;width: .7pc;height: .12in;display: flex;border: 2px solid #fff;position: absolute;right: 4px;top: 29pt;"></span>
      </a>
    </li>
    </ul>  
</div>

