<div class="widget">
  <h4 class="widget-title">Newsfeed</h4>
  <div class="your-page">
    <figure>
      <a href="#" title=""><img src="uploads/dane.jpg" alt=""></a>
      <span>@Alumni</span>
    </figure>
    <div class="page-meta">
      <a href="#" title="" class="underline">Dane Vincent</a>
      <span><a href="insight.html" title="">Software Developer</a></span>
      <span><a href="insight.html" title="">Accenture</a></span>
    </div>
  </div>
  <hr style="margin-top: .1pc; margin-bottom: 0pc;">
  <ul class="left-menu">
    <li><a href=""><i class="fa fa-bars"></i>Timeline</a></li>
    <li><a href=""><i class="fa fa-users"></i>Friends</a></li>
    <li><a href=""><i class="fa fa-user-plus"></i>Followers</a></li>
    <li><a href=""><i class="fa fa-folder-open"></i>Jobs</a></li>
    <li><a href=""><i class="fa fa-tag"></i>Saved</a></li>
    <li><a href=""><i class="fa fa-hands"></i>Donations</a></li>
    <li><a href=""><i class="fa fa-globe-asia"></i>Community</a></li>
    <hr style="margin-top: 1pc; margin-bottom: .5pc;">
    <li>
      <div class="friend-header">
        <div class="friend-header-content-left" >
          <span>Photos</span>
        </div>
        <div class="friend-header-content-right">
          <a href="" style="">See all</a>
        </div>
      </div>
      <div class="col">
        <div class="row friend-image-body">
          <div class="col-4" style="">
            <img src="uploads/dane.jpg">
          </div>
          <div class="col-4">
            <img src="uploads/pic1.jpg" >
          </div>
          <div class="col-4">
            <img src="uploads/pic2.jpg">
          </div>
          <div class="col-4">
            <img src="images/web.gif">
          </div>
          <div class="col-4">
            <img src="uploads/dane.jpg">
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>

