<div class="alumni-officers">
  <h4 class="alumni-officers-title">Alumni officers</h4>
  <ul>
    <li>
      <figure>
        <a href="#" title=""><img src="images/user-1.jpg" alt=""></a>
      </figure>
      <figure>
        <a href="#" title=""><img src="images/user-2.jpg" alt=""></a>
      </figure>
      <figure>
        <a href="#" title=""><img src="images/user-4.jpg" alt=""></a>
      </figure>
      <figure>
        <a href="#" title=""><img src="images/user-6.jpg" alt=""></a>
      </figure>
      <figure>
        <a href="#" title=""><img src="images/user-7.jpg" alt=""></a>
      </figure>
      <a href="" class="officers-plus"><i class="fa fa-plus"></i></a>
    </li>
  </ul>
</div>
<div class="people">
  <h4 class="people-title">
    People you may know
    <a href="">See <span>all</span></a>
  </h4>
  <ul>
    <li>
      <figure>
        <a href="#" title=""><img src="images/user-17.jpg" alt=""></a>
      </figure>
      <div class="people-content">
        <h4><a href="time-line.html" title="">Dane Vincent Painaga</a></h4>
        <a href="#" title="">Add Friend</a>
      </div>
    </li>
    <li>
      <figure>
        <a href="#" title=""><img src="images/user-15.jpg" alt=""></a>
      </figure>
      <div class="people-content">
        <h4><a href="time-line.html" title="">Dane Vincent</a></h4>
        <a href="#" title="">Add Friend</a>
      </div>
    </li>
    <li>
      <figure>
        <a href="#" title=""><img src="images/user-14.jpg" alt=""></a>
      </figure>
      <div class="people-content">
        <h4><a href="time-line.html" title="">Dane Vincent Painaga</a></h4>
        <a href="#" title="">Add Friend</a>
      </div>
    </li>
    <li>
      <figure>
        <a href="#" title=""><img src="images/user-3.jpg" alt=""></a>
      </figure>
      <div class="people-content">
        <h4><a href="time-line.html" title="">Dane Vincent</a></h4>
        <a href="#" title="">Add Friend</a>
      </div>
    </li>
  </ul>
</div>
<div class="additional-links" style="display: inline-block;width: 100%;padding: 10px 33px; font-size: 12px;text-align: center;color: #515365; position: sticky;top: 378px;">
  <a href="" style="margin: 5px;color: #515365;">Admins</a>
  <a href="" style="margin: 5px;color: #515365;">Events</a>
  <a href="" style="margin: 5px;color: #515365;">Jobs</a>
  <a href="" style="margin: 5px;color: #515365;">Groups</a>
  <a href="" style="margin: 5px;color: #515365;">Officers</a>
  <a href="" style="margin: 5px;color: #515365;">Announcements</a>
</div>