<div class="container" style="padding-left: 30px;padding-right:30px;margin-top: 60px;">
  <br />
  <div class="row" >
    <div class="col-md-3 col-xl-3 left-panel">
      <div class="widget">
        <h4 class="widget-title">Newsfeed</h4>
        <div class="your-page">
          <figure>
            <a href="#" title=""><img src="uploads/dane.jpg" alt=""></a>
            <span>@Alumni</span>
          </figure>
          <div class="page-meta">
            <a href="#" title="" class="underline">Dane Vincent</a>
            <span><a href="insight.html" title="">Software Developer</a></span>
            <span><a href="insight.html" title="">Accenture</a></span>
          </div>
        </div>
      </div>
 
      <ul class="left-menu">
        <li><a href=""><i class="fa fa-bars"></i>Timeline</a></li>
        <li><a href=""><i class="fa fa-users"></i>Friends</a></li>
        <li><a href=""><i class="fa fa-user-plus"></i>Followers</a></li>
        <li><a href=""><i class="fa fa-calendar"></i>Events</a></li>
        <li><a href=""><i class="fa fa-folder-open"></i>Jobs</a></li>
        <li><a href=""><i class="fa fa-hands"></i>Donations</a></li>
        <hr style="margin-top: 1pc; margin-bottom: .5pc;">
        <li>
          <div class="friend-header">
            <div class="friend-header-content-left" >
              <span>Friends</span>
            </div>
            <div class="friend-header-content-right">
              <a href="" style="">See all</a>
            </div>
          </div>
          <div class="col">
            <div class="row friend-image-body">
              <div class="col-4" style="">
                <img src="uploads/dane.jpg">
              </div>
              <div class="col-4">
                <img src="uploads/1569745479.jpg" >
              </div>
              <div class="col-4">
                <img src="uploads/1569744235.jpg">
              </div>
              <div class="col-4">
                <img src="images/web.gif">
              </div>
              <div class="col-4">
                <img src="uploads/dane.jpg">
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="people">
        <h4 class="people-title">
          People you may know
          <a href="">See <span>all</span></a>
        </h4>
          <ul>
            <li>
              <figure>
                <a href="#" title=""><img src="uploads/dane.jpg" alt=""></a>
              </figure>
              <div class="people-content">
                <h4><a href="time-line.html" title="">Dane Vincent Painaga</a></h4>
                <a href="#" title="">Add Friend</a>
              </div>
            </li>
            <li>
              <figure>
                <a href="#" title=""><img src="uploads/1569745479.jpg" alt=""></a>
              </figure>
              <div class="people-content">
                <h4><a href="time-line.html" title="">Dane Vincent</a></h4>
                <a href="#" title="">Add Friend</a>
              </div>
            </li>
            <li>
              <figure>
                <a href="#" title=""><img src="uploads/dane.jpg" alt=""></a>
              </figure>
              <div class="people-content">
                <h4><a href="time-line.html" title="">Dane Vincent Painaga</a></h4>
                <a href="#" title="">Add Friend</a>
              </div>
            </li>
          </ul>
      </div>

    </div>
    <div class="col-md-6 col-xl-6 center-panel">
      <div class="container">
        <div class="row post-section">
          <div class="post-new">
            <div class="post-new-body">
              <div class="post-new-image">
                <img src="uploads/dane.jpg">
              </div>
              <div class="post-new-content">
                <input type="text" class="form-control form-control post-new-input" placeholder="Whats on your mind?">
              </div>
            </div>
            <hr style="margin-top: .7pc; margin-bottom: .5pc;">
            <div class="button-type">
              <a href="">
                <img src="images/shield.svg">
                Photo/Video
              </a>
              <a href="" >
                <img src="images/calendar.svg">
                Tag Friend
              </a>
              <a href="">
                <img src="images/add.svg">
                Feeling/Activity
              </a>
            </div>
          </div>
        </div>
        <div class="row posts-body" style="border: 1px solid #e4e4e4;margin-top: .9em;">
          <div class="posts-header" style="display: flex; background-color: #fff;width: 100%;padding: 15pt .15625in 0px .15625in;border-top-left-radius: 7px;border-top-right-radius: 7px;">
            <div class="post-image" style="width: 11%;">
              <img src="images/dane.jpg" style="width: 50px;border-radius: 100%;border:3px solid whitesmoke;">
            </div>
            <div class="post-title" style="width: 89%;display: block;margin-left: .4375pc;">
              <i class="fa fa-ellipsis-h" style="float: right;color:#757a95;padding-top: 5px;"></i>
              <p style="margin-bottom: 0px;color: #545454;">Stella Johnson</p>
              <p style="margin-bottom: 0px;color: #6d6d6d;font-size: 13px;">5hrs</p>
            </div>
          </div>
          <div class="posts-description" style="background-color: #fff;width: 100%;padding: 0px .15625in 0px .15625in;">
            <hr style="margin-top: .7pc; margin-bottom: .5pc;">
            <p style="padding-top: 5px;color: #6d6d6d;font-size: 14.5px;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim laoreet dolore magna aliquam erat volutpat</p>
          </div>
          <div class="post-images" style="width: 100%; height: 300px; overflow: hidden;position: relative;">
            <img src="images/dane.jpg" style="width: 100%;min-width: 100%; max-width: 100%;height: auto;box-sizing: border-box;position: absolute;">
          </div>
        </div>

      </div>

    </div>
    <div class="col-md-3 col-xl-3 " style="border: 1px solid #ede9e9;padding: 0px 9px 0px 9px !important;">
      <div class="alumni-officers">
        <h4 class="alumni-officers-title">Alumni officers</h4>
        <ul>
          <li>
            <figure>
              <a href="#" title=""><img src="uploads/dane.jpg" alt=""></a>
            </figure>
            <figure>
              <a href="#" title=""><img src="uploads/1569745479.jpg" alt=""></a>
            </figure>
            <figure>
              <a href="#" title=""><img src="uploads/1569744235.jpg" alt=""></a>
            </figure>
            <figure>
              <a href="#" title=""><img src="images/web.gif" alt=""></a>
            </figure>
            <figure>
              <a href="#" title=""><img src="images/dane.jpg" alt=""></a>
            </figure>
            <a href="" class="officers-plus"><i class="fa fa-plus"></i></a>
          </li>
        </ul>
      </div>
      <div class="people">
        <h4 class="people-title">
          People you may know
          <a href="">See <span>all</span></a>
        </h4>
        <ul>
          <li>
            <figure>
              <a href="#" title=""><img src="uploads/dane.jpg" alt=""></a>
            </figure>
            <div class="people-content">
              <h4><a href="time-line.html" title="">Dane Vincent Painaga</a></h4>
              <a href="#" title="">Add Friend</a>
            </div>
          </li>
          <li>
            <figure>
              <a href="#" title=""><img src="uploads/1569745479.jpg" alt=""></a>
            </figure>
            <div class="people-content">
              <h4><a href="time-line.html" title="">Dane Vincent</a></h4>
              <a href="#" title="">Add Friend</a>
            </div>
          </li>
          <li>
            <figure>
              <a href="#" title=""><img src="uploads/dane.jpg" alt=""></a>
            </figure>
            <div class="people-content">
              <h4><a href="time-line.html" title="">Dane Vincent Painaga</a></h4>
              <a href="#" title="">Add Friend</a>
            </div>
          </li>
          <li>
            <figure>
              <a href="#" title=""><img src="uploads/1569745479.jpg" alt=""></a>
            </figure>
            <div class="people-content">
              <h4><a href="time-line.html" title="">Dane Vincent</a></h4>
              <a href="#" title="">Add Friend</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="additional-links" style="display: inline-block;width: 100%;padding: 10px 33px; font-size: 12px;text-align: center;color: #515365; position: sticky;top: 378px;">
        <a href="" style="margin: 5px;color: #515365;">Admins</a>
        <a href="" style="margin: 5px;color: #515365;">Events</a>
        <a href="" style="margin: 5px;color: #515365;">Jobs</a>
        <a href="" style="margin: 5px;color: #515365;">Groups</a>
        <a href="" style="margin: 5px;color: #515365;">Officers</a>
        <a href="" style="margin: 5px;color: #515365;">Announcements</a>
      </div>
    </div>
  </div>
  <br />
  <br />
</div>




<button class="open-button" onclick="openForm()">Chat</button>

<div class="chat-popup" id="myForm">
  <form action="/action_page.php" class="form-container">
    <div class="chat-head" style="width: 100%; background-color: #a6a6a6;height: 40px;border-top-right-radius: 3px;border-top-left-radius: 3px;padding: 7px;display: flex;border-bottom: 1px solid black;">
      <span style="width: 85%;">Chat</span>
      <i class="fa fa-times-circle" onclick="closeForm()" style="width: 15%;display: flex;justify-content: center;align-items: center;cursor: pointer;"></i>
    </div>
    <textarea placeholder="Type message.." name="msg" required></textarea>
  </form>
</div>

 <script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>