<div style="max-width: 530px;margin: 5.75rem auto;">
	<div class="bounce wrapper" style="min-height: 275px;">
		<div class="pop-up-body" >
	    	<h6>Create Post<i class="fa fa-times-circle close-post-modal"></i></h6>
	    	<hr style="margin-top: .7pc; margin-bottom: .5pc;">
	    	<div class="create-post-header">
		    	<div class="create-post-image">
		          <img src="uploads/dane.jpg">
		        </div>
		    	<div class="create-post-body">
		    		<div class="upload-holder">
		    			<textarea placeholder="Whats on your mind? Dane" ng-model="p.post_description"></textarea>
		    		</div>
		    	</div>
	    	</div>
	    	<div class="images" style="display: flex;width: 100%;max-height: 325px;overflow: auto;">
	    		<div class="uploaded-images" style="display: block;width: 100%;max-height: 290px;">
	    			<div style="display: block; width: 100%;" id="file-holder" files="p.uploadedImage" filedata="{{p.uploadedImage}}"></div>
	    		</div>
	    	</div>
			<div class="post-icons">
<!-- 				<a href="" ngf-select="p.getTheFiles($files)" multiple="multiple">
					<i class="fa fa-images"></i>
				</a>
				<a href="" ng-click="p.tagFriends()">
					<i class="fas fa-user-tag"></i>
				</a>
				<a href="" >
					<i class="far fa-laugh" ></i>
				</a> -->
		        <a href="" ngf-select="p.getTheFiles($files)" multiple="multiple" style="margin-left: 7px;">
		          <img src="images/image.svg" style="width: 28px;">
		        </a>
		        <a href="" ng-click="p.tagFriends()" style="margin-left: 10px;">
		          <img src="images/tag.svg" style="width: 27px;">
		        </a>
		        <a href="" style="margin-left: 15px;">
		          <img src="images/feeling.svg" style="width: 18px">
		        </a>
			</div>
			<hr style="margin-top: .5pc; margin-bottom: .5pc;">
			<div class="post-button" >
				<button>Public</button>
				<button ng-click="p.uploadPost()">{{ p.post_status }}</button>
			</div>
		</div>
		<div class="posting-message" ng-if="p.positingInProgress">
    		<div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
		</div>		
		<tag-friends-suggestions status="p.show_suggestions"  ></tag-friends-suggestions>
	</div>
</div>