<modal-directive class="pop-up-post" >
	<div style="max-width: 530px;margin: 5.75rem auto;">
		<div class="bounce pop-up-body">
	    	<h6>Create Post</h6>
	    	<hr style="margin-top: .7pc; margin-bottom: .5pc;">
	    	<div class="create-post-header">
	    		<button class="close-post-modal popup-close-btn"><i class="fa fa-times-circle close-post-modal"></i></button>
		    	<div class="create-post-image">
		          <img src="uploads/dane.jpg">
		        </div>
		        <div class="create-post-username">
		        	<p>Dane Vincent Painaga</p>
		        	<p>
			        	<select ng-model="privacy_status">
			        		<option ng-repeat="p in privacy" value="{{p}}" >{{ p }}</option>
			        	</select>
		        	</p>
		        </div>
	    	</div>
	    	<div class="create-post-body">
	    		<textarea placeholder="Whats on your mind?" ng-model="post_description"></textarea>
	    	</div>
	    	<div class="images" style="display: flex;width: 100%;overflow: auto;">
	    		<div class="uploaded-images" style="display: block;width: 100%;max-height: 290px;">
	    			<div style="display: block; width: 100%;" id="file-holder" files="uploadedImage" filedata="{{uploadedImage}}"></div>
	    		</div>
	    	</div>
			<hr style="margin-top: .7pc; margin-bottom: .5pc;">
			<div class="buttons">
				<a href="" class="button" ngf-select="getTheFiles($files)" multiple="multiple">
				  <img src="images/shield.svg">
				  Photo/Video
				</a>
				<a href="" >
				  <img src="images/calendar.svg">
				  Tag Friend
				</a>
				<a href="">
				  <img src="images/add.svg">
				  Feeling/Activity
				</a>
			</div>
			<hr style="margin-top: .7pc; margin-bottom: .5pc;">
			<div class="post-button">
				<button ng-click="uploadPost()">Post</button>
			</div>
		</div>	    	
	</div>
</modal-directive>