<div class="container-fluid" >
  	<div class="col">
	    <div class="row box-shadow" style="background: linear-gradient(90deg,#2896b7,#23b8c7 40%,#09f3e8);height: 120px;border-left: 1px solid #8e9196 !important; border-right: 1px solid #8e9196 !important;" >
	    </div>
	    <span style="color: white;position: absolute;z-index: 1;left: 7.5em;top: 3em;font-size: 24px;text-shadow: 0 0 3px rgba(0, 0, 0, .8);">
	      Dane Vincent Painaga
	    </span>
  	</div>
    <div class="row">
      <div class="col">
        <nav class="navbar navbar-expand-md" style="background-color: white;border-bottom: solid 1px #dddfe2;padding-top: 0px; padding-bottom: 0px;height: 45px;border-left:1px solid #8e9196 !important;border-right: 1px solid #8e9196 !important;">
            <a class="navbar-brand" href="">
              <div class="col" >
                <img src="uploads/zoe.jpg" style="height: 142px;z-index: 1;position: absolute;top:-123px;width: 141px;border: solid 3px white; border-radius: 6em; min-width: 141px; max-height: 142px;">
              </div>
            </a>
                <a class="nav-link" href="/#!/profile/{{accountName}}" style="position: relative;border-right: solid 1px #e0e0e0;margin-left: 7em;color: #25a6bf;">
                  <i class="fa fa-bars font-19"></i>
                  <span style="font-size: 14px;">&nbsp;Timeline</span>
                </a>
                <a class="nav-link" href="/#!/profile/{{accountName}}/about"  style="position: relative;border-right: solid 1px #e0e0e0;color: #25a6bf;">
                  <i class="fa fa-folder-open font-19"></i>
                  <span style="font-size: 14px;">&nbsp;About</span>
                </a>
                <a class="nav-link" href="/#!/profile/{{accountName}}/classmates"  style="position: relative;border-right: solid 1px #e0e0e0;color: #25a6bf;">
                  <i class="fa fa-user-circle font-19"></i>
                  <span style="font-size: 14px;">&nbsp;Classmates</span>
                </a>
                <a class="nav-link" href="#!/account" style="position: relative;border-right: solid 1px #e0e0e0;color: #25a6bf;">
                  <i class="fa fa-users font-19"></i>
                  <span style="font-size: 14px;">&nbsp;Followers</span>
                </a>
          </nav>
        </div>
    </div>
    <div class="row" ui-view="profile-content" style="margin-top: .7em;"></div>
</div>