<!-- Landscape -->

    <!-- One image -->
    <div class="post-holder" style="display: flex; flex-wrap: wrap; width: 100%;">
      <div class="post-images" style="width: 100%; overflow: hidden;position: relative;border: 1px solid #fff;">
        <img src="images/dane.jpg" style="width: 100%;min-width: 100%; max-width: 100%;height: auto;box-sizing: border-box;">
      </div>
    </div>

    <!-- Two images -->
    <div class="post-holder" style="display: flex; flex-wrap: wrap; width: 100%;">
      <div class="post-images" style="width: 100%; max-height: 265px; overflow: hidden;position: relative;border: 1px solid #fff;">
        <img src="images/dane.jpg" style="width: 100%;min-width: 100%; max-width: 100%;height: auto;box-sizing: border-box;">
      </div>
      <div class="post-images" style="width: 100%; max-height: 265px; overflow: hidden;position: relative;border: 1px solid #fff;">
        <img src="images/dane.jpg" style="width: 100%;min-width: 100%; max-width: 100%;height: auto;box-sizing: border-box;">
      </div>
    </div>


    <!-- Three Images -->
    <div class="post-holder" style="display: flex; flex-wrap: wrap; width: 100%;">
      <div class="post-images" style="width: 100%; max-height: 265px; overflow: hidden;position: relative;border: 1px solid #fff;">
        <img src="images/dane.jpg" style="width: 100%;min-width: 100%; max-width: 100%;height: auto;box-sizing: border-box;">

      </div>
      <div class="post-images" style="width: 50%; height: 100%; max-height: 245px; overflow: hidden;position: relative;border: 1px solid #fff;">
        <img src="images/dane.jpg" style="width: 100%;min-width: 100%; max-width: 100%;height: auto;box-sizing: border-box; transform: scale(1.5); transform-origin: top;">
      </div>
      <div class="post-images" style="width: 50%; height: 100%; max-height: 245px; overflow: hidden;position: relative;border: 1px solid #fff;">
        <img src="images/dane.jpg" style="width: 100%;min-width: 100%; max-width: 100%;height: auto;box-sizing: border-box; transform: scale(1.5); transform-origin: top;">
      </div>
    </div>


    <!-- Four images -->

    <div class="post-holder" style="display: flex; flex-wrap: wrap; width: 100%;">
      <div class="post-images" style="width: 100%; max-height: 265px; overflow: hidden;position: relative;border: 1px solid #fff;">
        <img src="images/dane.jpg" style="width: 100%;min-width: 100%; max-width: 100%;height: auto;box-sizing: border-box;">

      </div>
      <div class="post-images" style="width: 33.333333333333336%; height: 100%; max-height: 163px; overflow: hidden;position: relative;border: 1px solid #fff;">
        <img src="images/dane.jpg" style="width: 100%;min-width: 100%; max-width: 100%;height: auto;box-sizing: border-box; transform: scale(1.5); transform-origin: top;">
      </div>
      <div class="post-images" style="width: 33.333333333333336%; height: 100%; max-height: 163px; overflow: hidden;position: relative;border: 1px solid #fff;">
        <img src="images/dane.jpg" style="width: 100%;min-width: 100%; max-width: 100%;height: auto;box-sizing: border-box; transform: scale(1.5); transform-origin: top;">

      </div>
      <div class="post-images" style="width: 33.333333333333336%; height: 100%; max-height: 163px; overflow: hidden;position: relative; border: 1px solid #fff;">
        <img src="images/dane.jpg" style="width: 100%;min-width: 100%; max-width: 100%;height: auto;box-sizing: border-box; transform: scale(1.5); transform-origin: top;">
      </div>
    </div>


    <!-- Five images -->
    <div class="post-holder" style="display: flex; flex-wrap: wrap; width: 100%;">
      <div class="post-images" style="width: 50%; max-height: 245px; overflow: hidden;position: relative;border: 1px solid #fff;">
        <img src="images/dane.jpg" style="width: 100%;min-width: 100%; max-width: 100%;height: auto;box-sizing: border-box; transform: scale(1.5); transform-origin: top; ">

      </div>
      <div class="post-images" style="width: 50%; max-height: 245px; overflow: hidden;position: relative;border: 1px solid #fff;">
        <img src="images/dane.jpg" style="width: 100%;min-width: 100%; max-width: 100%;height: auto;box-sizing: border-box; transform: scale(1.5); transform-origin: top; ">
      </div>
      <div class="post-images" style="width: 33.333333333333336%; height: 100%; max-height: 163px; overflow: hidden;position: relative;border: 1px solid #fff;">
        <img src="images/dane.jpg" style="width: 100%;min-width: 100%; max-width: 100%;height: auto;box-sizing: border-box; transform: scale(1.5); transform-origin: top;">
      </div>
      <div class="post-images" style="width: 33.333333333333336%; height: 100%; max-height: 163px; overflow: hidden;position: relative;border: 1px solid #fff;">
        <img src="images/dane.jpg" style="width: 100%;min-width: 100%; max-width: 100%;height: auto;box-sizing: border-box; transform: scale(1.5); transform-origin: top;">

      </div>
      <div class="post-images" style="width: 33.333333333333336%; height: 100%; max-height: 163px; overflow: hidden;position: relative; border: 1px solid #fff;">
        <img src="images/dane.jpg" style="width: 100%;min-width: 100%; max-width: 100%;height: auto;box-sizing: border-box; transform: scale(1.5); transform-origin: top;">
      </div>
    </div>