<div class="col-md-12" >
  <nav class="navbar navbar-expand-md padding-0" style="background-color: white;border-bottom: solid 1px #dddfe2;padding-top: 0px; padding-bottom: 0px;height: 45px;border-left:1px solid #8e9196 !important;border-right: 1px solid #8e9196 !important;">
    <a class="nav-link" href="#!/account" style="border-right: solid 1px #e0e0e0;color: rgba(0,0,0,.6);padding: 0.5rem .6rem;">
       <img src="uploads/dane.jpg" style="width: 30px;border-radius: 50%;">&nbsp;<span style="font-weight: 500;">
       <span style="font-size: 12px;padding-right: 10px;">Dane Vincent Painaga</span>
    </a>
  </nav>
  <ul class="list-group">
    <li class="list-group-item padding-7 whitesmoke" style="border-radius: 0px;">
      <i class="fa fa-users"></i><span>&nbsp;Suggested people...</span>
    </li>
    <li class="list-group-item padding-7 whitesmoke">
      <div class="row">
        <div class="col-md-4">
          <input type="text" class="form-control form-control-sm" ng-model="f.fellow_name" placeholder="Search" style="border-radius: 0px;">
        </div>
        <div class="col-md-8"></div>
      </div>
    </li>
    <li class="list-group-item">
     <div class="row bg-white" >
        <div class="col-md-6 padding-2" >
           <div class="card">
            <div class="card-body padding-1">
              <div class="col">
              <div class="row">
                <div style="flex: 0 0 24%;max-width: 24%;">
                  <img src="uploads/dane.jpg" style="width: 95px;height: 90px;border: 1px solid #d1d5da !important;">
                </div>
                <div style="flex: 0 0 76%;max-width: 76%;padding-right: 7px;">
                  <div style="flex: 0 0 100%;max-width: 100%;font-size: 15px;padding-top: 10px;">
                    <span class="blue alumni-name">
                      Dane Vincent O. Painaga
                    </span>
                  </div>
                  <div style="flex: 0 0 100%;max-width: 100%;">
                    <span class="alumni-course">
                      BS Information Technology
                    </span>
                  </div>
                  <div style="flex: 0 0 100%;max-width: 100%;">
                    <span class="alumni-section">Section-{{c.section}}&nbsp;-&nbsp;2014</span>
                    <button class="btn btn-info btn-sm float-right font-12" ng-click="f.viewFellow(c)">Follow</button>
                  </div>
                </div>
              </div>
              </div>
            </div> 
          </div>                                   
        </div>
        <div class="col-md-6 padding-2" >
           <div class="card">
            <div class="card-body padding-1">
              <div class="col">
              <div class="row">
                <div style="flex: 0 0 24%;max-width: 24%;">
                  <img src="uploads/zoe.jpg" style="width: 95px;height: 90px;border: 1px solid #d1d5da !important;">
                </div>
                <div style="flex: 0 0 76%;max-width: 76%;padding-right: 7px;">
                  <div style="flex: 0 0 100%;max-width: 100%;font-size: 15px;padding-top: 10px;">
                    <span class="blue alumni-name">
                      Dane Vincent O. Painaga
                    </span>
                  </div>
                  <div style="flex: 0 0 100%;max-width: 100%;">
                    <span class="alumni-course">
                      BS Information Technology
                    </span>
                  </div>
                  <div style="flex: 0 0 100%;max-width: 100%;">
                    <span class="alumni-section">Section-{{c.section}}&nbsp;-&nbsp;2014</span>
                    <button class="btn btn-info btn-sm float-right font-12" ng-click="f.viewFellow(c)">Follow</button>
                  </div>
                </div>
              </div>
              </div>
            </div> 
          </div>                                   
        </div>
        <div class="col-md-6 padding-2" >
           <div class="card">
            <div class="card-body padding-1">
              <div class="col">
              <div class="row">
                <div style="flex: 0 0 24%;max-width: 24%;">
                  <img src="uploads/user.jpg" style="width: 95px;height: 90px;border: 1px solid #d1d5da !important;">
                </div>
                <div style="flex: 0 0 76%;max-width: 76%;padding-right: 7px;">
                  <div style="flex: 0 0 100%;max-width: 100%;font-size: 15px;padding-top: 10px;">
                    <span class="blue alumni-name">
                      Dane Vincent O. Painaga
                    </span>
                  </div>
                  <div style="flex: 0 0 100%;max-width: 100%;">
                    <span class="alumni-course">
                      BS Information Technology
                    </span>
                  </div>
                  <div style="flex: 0 0 100%;max-width: 100%;">
                    <span class="alumni-section">Section-{{c.section}}&nbsp;-&nbsp;2014</span>
                    <button class="btn btn-info btn-sm float-right font-12" ng-click="f.viewFellow(c)">Follow</button>
                  </div>
                </div>
              </div>
              </div>
            </div> 
          </div>                                   
        </div>
        <div class="col-md-6 padding-2" >
           <div class="card">
            <div class="card-body padding-1">
              <div class="col">
              <div class="row">
                <div style="flex: 0 0 24%;max-width: 24%;">
                  <img src="uploads/user.jpg" style="width: 95px;height: 90px;border: 1px solid #d1d5da !important;">
                </div>
                <div style="flex: 0 0 76%;max-width: 76%;padding-right: 7px;">
                  <div style="flex: 0 0 100%;max-width: 100%;font-size: 15px;padding-top: 10px;">
                    <span class="blue alumni-name">
                      Dane Vincent O. Painaga
                    </span>
                  </div>
                  <div style="flex: 0 0 100%;max-width: 100%;">
                    <span class="alumni-course">
                      BS Information Technology
                    </span>
                  </div>
                  <div style="flex: 0 0 100%;max-width: 100%;">
                    <span class="alumni-section">Section-{{c.section}}&nbsp;-&nbsp;2014</span>
                    <button class="btn btn-info btn-sm float-right font-12" ng-click="f.viewFellow(c)">Follow</button>
                  </div>
                </div>
              </div>
              </div>
            </div> 
          </div>                                   
        </div>
    </div>  
    </li>
  </ul>
  <br />
</div>