<div id="tagged">
	<div class="tagged-body">
		<h6 class="text-center">
			<span style="position: absolute;left: 15px; cursor: pointer;" ng-click="tc.back()">
				<i class="far fa-arrow-alt-circle-left" style="font-size: 25px;position: relative;top: -4px;color: #757a95;"></i>
			</span>
			<span>Tag Friends</span>
		</h6>
		<hr style="margin-top: .7pc; margin-bottom: .5pc;">
		<div class="search-friends">
	     	<input type="text" class="form-control form-control search-friends-btn " placeholder="Search for friends" style="">
			<a href="">Done</a>
			</div>
		<div class="suggestions">
		  	<ul>
			    <li ng-repeat="sug in tc.suggestions" ng-if="tc.loaded">
			      <figure>
			        <a href="#" title=""><img ng-src="{{ sug.photo | checkPhoto }}" alt=""></a>
			      </figure>
			      <div class="friends">
			        <span><a href="time-line.html" title="">{{ sug.firstname }}&nbsp;{{ sug.lastname }}</a></span>
			      </div>
			    </li>
			    <div ng-if="!tc.loaded" ng-repeat="i in [1, 2, 3]">
				    <li  class="ph-item" style="align-items: center;margin-bottom: 0px;" >
				    	<div class="ph-col-12" style="padding: 0px;">
				    		<div class="ph-row" style="padding-left: 0px;margin-bottom: 0px;align-items: center;">
			 					<figure style="min-width: 42px; height: 42px;padding: 3px;">
									<a href="#" title="">
									<div class="ph-avatar" style="min-width: 100% !important; max-width: 100% !important;height: 100%;"></div>
									</a>
								</figure>
								<div class="ph-col-6" style="margin-left: 7px;margin-bottom: 0px;height: 13px;"></div>
							</div>
				    	</div>
				    </li>
			    </div>
		  	</ul>
		</div>
	</div>
</div>	