<div id="tagged">
	<div class="tagged-body">
			<h6 class="text-center">
				<span style="position: absolute;left: 15px; cursor: pointer;" ng-click="tc.back()">
					<i class="far fa-arrow-alt-circle-left" style="font-size: 25px;position: relative;top: -4px;color: #757a95;"></i>
				</span>
				<span>Tag Friends</span>
			</h6>
		<hr style="margin-top: .7pc; margin-bottom: .5pc;">
		<div class="search-friends">
	     	<input type="text" class="form-control form-control search-friends-btn " placeholder="Search for friends" style="">
			<a href="">Done</a>
		</div>
		<div class="suggestions">
		  <ul>
		    <li ng-repeat="sug in tc.suggestions">
		      <figure>
		        <a href="#" title=""><img ng-src="{{ sug.photo | checkPhoto }}" alt=""></a>
		      </figure>
		      <div class="friends">
		        <span><a href="time-line.html" title="">{{ sug.firstname }}&nbsp;{{ sug.middlename }}&nbsp;{{ sug.lastname }}</a></span>
		      </div>
		    </li>
		    
<!-- 		    <li>
		      <figure>
		        <a href="#" title=""><img src="uploads/zoe.jpg" alt=""></a>
		      </figure>
		      <div class="friends">
		        <span><a href="time-line.html" title="">Sophia Elizabeth Painaga</a></span>
		      </div>
		    </li>
		    <li>
		      <figure>
		        <a href="#" title=""><img src="images/dane.jpg" alt=""></a>
		      </figure>
		      <div class="friends">
		        <span><a href="time-line.html" title="">Family - Painaga</a></span>
		      </div>
		    </li>
		    <li>
		      <figure>
		        <a href="#" title=""><img src="uploads/pic1.jpg" alt=""></a>
		      </figure>
		      <div class="friends">
		        <span><a href="time-line.html" title="">John Doe</a></span>
		      </div>
		    </li>
		    <li>
		      <figure>
		        <a href="#" title=""><img src="uploads/dane.jpg" alt=""></a>
		      </figure>
		      <div class="friends">
		        <span><a href="time-line.html" title="">Dane Vincent Painaga</a></span>
		      </div>
		    </li>
		    <li>
		      <figure>
		        <a href="#" title=""><img src="uploads/zoe.jpg" alt=""></a>
		      </figure>
		      <div class="friends">
		        <span><a href="time-line.html" title="">Sophia Elizabeth Painaga</a></span>
		      </div>
		    </li>
		    <li>
		      <figure>
		        <a href="#" title=""><img src="images/dane.jpg" alt=""></a>
		      </figure>
		      <div class="friends">
		        <span><a href="time-line.html" title="">Family - Painaga</a></span>
		      </div>
		    </li>
		    <li>
		      <figure>
		        <a href="#" title=""><img src="uploads/pic1.jpg" alt=""></a>
		      </figure>
		      <div class="friends">
		        <span><a href="time-line.html" title="">John Doe</a></span>
		      </div>
		    </li>
		    <li>
		      <figure>
		        <a href="#" title=""><img src="uploads/zoe.jpg" alt=""></a>
		      </figure>
		      <div class="friends">
		        <span><a href="time-line.html" title="">Sophia Elizabeth Painaga</a></span>
		      </div>
		    </li>
		    <li>
		      <figure>
		        <a href="#" title=""><img src="images/dane.jpg" alt=""></a>
		      </figure>
		      <div class="friends">
		        <span><a href="time-line.html" title="">Family - Painaga</a></span>
		      </div>
		    </li>
		    <li>
		      <figure>
		        <a href="#" title=""><img src="uploads/pic1.jpg" alt=""></a>
		      </figure>
		      <div class="friends">
		        <span><a href="time-line.html" title="">John Doe</a></span>
		      </div>
		    </li> -->
		  </ul>
		</div>
	</div>
</div>	