<div id="tagged">
	<div class="tagged-body">
		<h6 class="text-center">
			<span style="position: absolute;left: 15px; cursor: pointer;" ng-click="tc.back()">
				<i class="far fa-arrow-alt-circle-left" style="font-size: 25px;position: relative;top: -4px;color: #757a95;"></i>
			</span>
			<span>Tag Friends</span>
		</h6>
		<hr style="margin-top: .7pc; margin-bottom: .5pc;">
		<div class="search-friends">
	     	<input type="text" class="form-control form-control search-friends-btn " placeholder="Search for friends" style="">
			<a href="">Done</a>
		</div>
		<div>
			<div style="display: flex;width: 100%;padding-bottom: 8px;">
				<span style="font-weight: 600;font-size: 13px;color: #757a95;">TAGGED</span>
			</div>
			<div class="tagged-list" style="display: flex; flex-wrap: wrap; width: 100%;margin-bottom: 7px;border: 1px solid #bcc4cb;padding: 3px;border-radius: 5px; max-height: 130px;overflow-y: auto;">
				<div style="display: flex;padding: 2px 10px;border-radius: 14px;background-color: #e8fbffc2; margin: 3px;border: 1px solid #bcc4cb;color: #057de0;font-size: 14px;font-weight: 500;align-items: center;">
					<span>Dane Vincent Painaga</span>
					<i class="fa fa-times" style="margin-left: 5px;cursor: pointer;"></i>
				</div>
				<div style="display: flex;padding: 2px 10px;border-radius: 14px;background-color: #e8fbffc2; margin: 3px;border: 1px solid #bcc4cb;color: #057de0;font-size: 14px;font-weight: 500;align-items: center;">
					<span>Dane Vincent</span>
					<i class="fa fa-times" style="margin-left: 5px;cursor: pointer;"></i>
				</div>
				<div style="display: flex;padding: 2px 10px;border-radius: 14px;background-color: #e8fbffc2; margin: 3px;border: 1px solid #bcc4cb;color: #057de0;font-size: 14px;font-weight: 500;align-items: center;">
					<span>Ame Jane - Painaga</span>
					<i class="fa fa-times" style="margin-left: 5px;cursor: pointer;"></i>
				</div>
				<div style="display: flex;padding: 2px 10px;border-radius: 14px;background-color: #e8fbffc2; margin: 3px;border: 1px solid #bcc4cb;color: #057de0;font-size: 14px;font-weight: 500;align-items: center;">
					<span>John Doe</span>
					<i class="fa fa-times" style="margin-left: 5px;cursor: pointer;"></i>
				</div>
				<div style="display: flex;padding: 2px 10px;border-radius: 14px;background-color: #e8fbffc2; margin: 3px;border: 1px solid #bcc4cb;color: #057de0;font-size: 14px;font-weight: 500;align-items: center;">
					<span>Sophia Elizabeth Painaga</span>
					<i class="fa fa-times" style="margin-left: 5px;cursor: pointer;"></i>
				</div>
				<div style="display: flex;padding: 2px 10px;border-radius: 14px;background-color: #e8fbffc2; margin: 3px;border: 1px solid #bcc4cb;color: #057de0;font-size: 14px;font-weight: 500;align-items: center;">
					<span>Luka Doncic</span>
					<i class="fa fa-times" style="margin-left: 5px;cursor: pointer;"></i>
				</div>
			</div>
		</div>
		<div style="display: flex;width: 100%;padding: 7px 0px 2px 0px;">
			<span style="font-weight: 600;font-size: 13px;color: #757a95;">SUGGESTIONS</span>
		</div>
		<div class="suggestions">
		  	<ul>
			    <li ng-repeat="sug in tc.suggestions" ng-if="tc.loaded">
			      <figure>
			        <a href="#" title=""><img ng-src="{{ sug.photo | checkPhoto }}" alt=""></a>
			      </figure>
			      <div class="friends">
			        <span><a href="time-line.html" title="">{{ sug.firstname }}&nbsp;{{ sug.lastname }}</a></span>
			      </div>
			    </li>
			    <div ng-if="!tc.loaded" ng-repeat="i in [1, 2, 3]">
				    <li  class="ph-item" style="align-items: center;margin-bottom: 0px;" >
				    	<div class="ph-col-12" style="padding: 0px;">
				    		<div class="ph-row" style="padding-left: 0px;margin-bottom: 0px;align-items: center;">
			 					<figure style="min-width: 42px; height: 42px;padding: 3px;">
									<a href="#" title="">
									<div class="ph-avatar" style="min-width: 100% !important; max-width: 100% !important;height: 100%;"></div>
									</a>
								</figure>
								<div class="ph-col-6" style="margin-left: 7px;margin-bottom: 0px;height: 13px;"></div>
							</div>
				    	</div>
				    </li>
			    </div>
		  	</ul>
		</div>
	</div>
</div>	