<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="row" style="justify-content: space-between;align-items: center;height: 40pt;border-bottom: 1px solid #e8e8e8;">
			  <ul class="nav" style="justify-content: center;align-items: center;">
			    <li class="nav-item">
			      <a class="nav-link" href="#" style="color: #8e8e8e;font-weight: 600;font-size: 15px;">All Friends</a>
			    </li>
			    <li class="nav-item">
			      <a class="nav-link" href="#" style="color: #8e8e8e;font-weight: 600;font-size: 15px;">Batch</a>
			    </li>
			    <li class="nav-item">
			      <a class="nav-link" href="#" style="color: #8e8e8e;font-weight: 600;font-size: 15px;">Classmates</a>
			    </li>
			  </ul>
			  <div style="width: 30%;">
			  	<input type="text" placeholder="Search" style="width: 100%;border: 1px solid whitesmoke;outline: none;padding: 3px 15px;background: #f9f9f9;border-radius: 5px;">
			  </div>
			</div>
			<div class="row" style="margin-top: 0.5pc;">
				<div class="col-md-6 col-sm-12">
					<div style="display: flex;;margin-top: 7px;">
						<div style="width: 19%;position: relative; ">
							<img src="uploads/dane.jpg" style="width: .7in;border-radius: 50%;border: 3px solid #fff;">
							<span class="online-dot" style="background: #4fbb61;border-radius: 50%;width: .8pc;height: .14in;display: flex;border: 2px solid #fff;position: absolute;right: 7px;top: 37.5pt;"></span>
						</div>
						<div style="width: 71%;margin-left: .5pc;">
							<h3 style="font-size: .177083333in;margin: 15px 0px 0px 0px;color: #545454;">Dane Vincent Painaga</h3>
							<p style="color: #6d6d6d;">15 Mutual Friends</p>
						</div>
						<div style="display: flex;width: 10%;font-weight: 600;color: #545454;display: flex;align-items: center;">
							<i class="fa fa-ellipsis-h" style="float: right;color:#757a95;"></i>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div style="display: flex;margin-top: 7px;">
						<div style="width: 19%;position: relative; ">
							<img src="images/user-10.jpg" style="width: .7in;border-radius: 50%;border: 3px solid #fff;">
							<span class="online-dot" style="background: #4fbb61;border-radius: 50%;width: .8pc;height: .14in;display: flex;border: 2px solid #fff;position: absolute;right: 7px;top: 37.5pt;"></span>
						</div>
						<div style="width: 71%;margin-left: .5pc;">
							<h3 style="font-size: .177083333in;margin: 15px 0px 0px 0px;color: #545454;">Dane Vincent Painaga</h3>
							<p style="color: #6d6d6d;">15 Mutual Friends</p>
						</div>
						<div style="display: flex;width: 10%;font-weight: 600;color: #545454;display: flex;align-items: center;">
							<i class="fa fa-ellipsis-h" style="float: right;color:#757a95;"></i>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div style="display: flex;;margin-top: 7px;">
						<div style="width: 19%;position: relative; ">
							<img src="images/user-20.jpg" style="width: .7in;border-radius: 50%;border: 3px solid #fff;">
							<span class="online-dot" style="background: #4fbb61;border-radius: 50%;width: .8pc;height: .14in;display: flex;border: 2px solid #fff;position: absolute;right: 7px;top: 37.5pt;"></span>
						</div>
						<div style="width: 71%;margin-left: .5pc;">
							<h3 style="font-size: .177083333in;margin: 15px 0px 0px 0px;color: #545454;">Dane Vincent Painaga</h3>
							<p style="color: #6d6d6d;">15 Mutual Friends</p>
						</div>
						<div style="display: flex;width: 10%;font-weight: 600;color: #545454;display: flex;align-items: center;">
							<i class="fa fa-ellipsis-h" style="float: right;color:#757a95;"></i>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div style="display: flex;margin-top: 7px;">
						<div style="width: 19%;position: relative; ">
							<img src="images/user-4.jpg" style="width: .7in;border-radius: 50%;border: 3px solid #fff;">
							<span class="online-dot" style="background: #4fbb61;border-radius: 50%;width: .8pc;height: .14in;display: flex;border: 2px solid #fff;position: absolute;right: 7px;top: 37.5pt;"></span>
						</div>
						<div style="width: 71%;margin-left: .5pc;">
							<h3 style="font-size: .177083333in;margin: 15px 0px 0px 0px;color: #545454;">Dane Vincent Painaga</h3>
							<p style="color: #6d6d6d;">15 Mutual Friends</p>
						</div>
						<div style="display: flex;width: 10%;font-weight: 600;color: #545454;display: flex;align-items: center;">
							<i class="fa fa-ellipsis-h" style="float: right;color:#757a95;"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>