<div class="row" style="margin-top: .7em;">
  <div class="col uploading-status">
    <p style="margin-bottom: 3px; font-size: 11px;">
    	<span id="message"></span>&nbsp;
    	<span style="font-size: 10px;float: right;">&nbsp;{{ fileuploaded.fileName }}</span>
    </p>
    <div class="progress" style="height: 7px;font-size: 10px;">
      <div class="progress-bar progress-bar-striped progress-bar-animated total-progress" ></div>
    </div>
  </div>
</div>



<!-- <i ng-class="{'icon-autoscroll': autoScroll, 'icon-autoscroll-disabled': !autoScroll}"></i>
<i ng-class="{true: 'icon-autoscroll', false: 'icon-autoscroll-disabled'}[autoScroll]"></i>
<i ng-class="autoScroll ? 'icon-autoscroll' : 'icon-autoscroll-disabled'"></i> -->