/*$box-shadow: 0px 0.0625pc 0.5625pc -0.125pc #d2d2d2;*/
/*$box-shadow: 0px 0.0625pc 0.2pc -0.1pc #d2d2d2;
$header-box-shadow: 0px 0.0625pc 0.5625pc -0.125pc #d2d2d2;*/
$box-shadow: 0px 0.0625pc 0.5625pc -0.125pc #d2d2d2;
$header-box-shadow: 0px 0.0625pc 0.5625pc -0.125pc #d2d2d2;
/*$box-shadow: 0pc 0.010416667in 0.75pc -3px #d2d2d2; new box-shadow*/