@import '~bootstrap/scss/bootstrap';

* {
	box-sizing: border-box;
}

body{
    background: #edf2f6;
}

#header {
	justify-content: flex-end;
    /*background: #1d6ea8;*/
    /*box-shadow: 0 .0625pc 0 0 rgba(139,141,157,.05),10px .0625pc 0.4375pc 0 rgba(65,71,108,.15) !important;*/
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    padding: 0px 10%;
    /*color: #797979;*/
    font-weight: 600;
    display: flex;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 2;
    img {
    	margin-right: auto;
    }

    .user-avatar{
        width: 32px;
        border-radius: 50%;
        border: 2px solid #d2d2d2;
    }

    a {
    	padding: 15px 15px;
    	color: #fff;
    }

    ul {
    	height: 100%;
    	margin-bottom: 0px;
        padding: 0px;
    	li{
    		display: inline-block;
    		padding: 0px 8px;
    		list-style: none;
    		height: 100%;

	    	&:not(:nth-child(1)){
	    		line-height: 2 !important;
	    	}

            form{
                display: flex;
                margin-right: 10px;
            }

    		.search-bar{
                background: #edf2f6;
                padding: 13px 30px;
                color: #535165;
                font-size: 13px;
    			width: 300px;
                height: 27pt;
                border: medium none;
                border-top-left-radius: 30px;
                border-bottom-left-radius: 30px;
                outline: none;
    		}

            button{
                background-color: #edf2f6;
                border: medium none;
                width: 15%;
                border-top-right-radius: 30px;
                border-bottom-right-radius: 30px;
                outline: none;
                i{
                    color: #b6b6b6;
                    font-size: 15px;
                }
            }

            a{
                color: #757a95;
                padding: 0 !important;
                text-decoration: none;
            }

            &:hover{
                &:nth-child(2), &:nth-child(3){
                    background-color: #edf2f6;
                    border-radius: 5px;
                }
            }

    	}
    }
}

.left-panel{
    padding: 0px 9px 0px 9px !important;
}

.center-panel{
    padding: 0px 9px 0px 9px !important;
}

.left-menu{
    background-color: #fff;
    padding: 10px 5px;
    list-style-type: none;
    border: 1px solid #ede9e9;
    box-shadow: 0px 0.0625pc 0.5625pc -0.125pc #d2d2d2;
    li{
        padding: 0px;
        &:not(:nth-child(6)){
            &:hover{
                background-color: #ededed;
            }
        }
        a{
            display: flex;
            margin-bottom: 5px;
            padding: .5rem 1rem;
            color: #757a95;
            text-decoration: none;
            font-size: 14px;
            i{
                margin-right: 6.75pt;
                padding-top: 4px;
            }
        }
    }
}


.post-new{
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0px 0.0625pc 0.5625pc -0.125pc #d2d2d2;
    .post-new-body{
        display: flex;
        .post-new-content{
            width: 92%;
        }
    }
    .post-new-image{
        width: 8%;margin-right: 15px;
        img{
            width: .416666667in;border-radius: 50%;
        }
    }
    .post-new-input{
        height: 40px;
        background: #edf2f6;
        padding: 13px 30px;
        color: #535165;
        font-size: 13px;
        border: medium none;
        border-radius: 30px;
    }
    .button-type{
        display: flex;
        align-items: center;
        a{
            color: #3e416d;
            text-decoration: none;
            border-radius: .052083333in;
            padding: 7px;
            flex: 1;
            img{
                width: 20px;
                margin-right: 7px;
            }
        }
    }
}

.widget{
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 3px;
    background: #fff;
    border: 1px solid #ede9e9;
    border-radius: 2px;
    box-shadow: 0px 0.0625pc 0.5625pc -0.125pc #d2d2d2;
    .widget-title{
        border-bottom: 1px solid #e6ecf5;
        color: #515365;
        display: inline-block;
        font-size: 14px;
        font-weight: 500;
        /*margin-bottom: 20px;*/
        padding: 15px 20px;
        position: relative;
        text-transform: capitalize;
        width: 100%;
        float: left;
        &::before{
            content: "";
            height: 20px;
            left: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 3px;
            background-color: #2db1ef;
        }
        &::after{
            content: "";
            height: 20px;
            right: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 3px;
            background-color: #2db1ef;
        }
    }
    .your-page{
        display: inline-block;
        padding: 5px 20px 15px;
        width: 100%;
        figure{
            display: inline-block;
            margin-bottom: 0;
            max-width: 55px;
            vertical-align: middle;
            width: 55px;
            img{
                width: 55px;
                border: 3px solid rgba(0,0,0,.2);
                border-radius: 100%;
            }
            span{
                display: inline-block;
                font-size: 10px;
                font-weight: bold;
                width: 100%;
                color:#2cb0ef;
            }
        }
        .page-meta{
            display: inline-block;
            padding-left: 10px;
            vertical-align: middle;
            width: 69.8%;
            a{
                display: inline-block;
                font-size: 14px;
                font-weight: 500;
                text-transform: capitalize;
                width: auto;
                color: #515365;
            }
            span a{
                display: inline-block;
                font-size: 12px;
                width: 100%;
            }
        }
    }
}








@media screen and (max-width: 884px){
    .header-menus{
        li{
            &:nth-child(1){
                display: none !important;
            } 
        }
    }
}

@media screen and (max-width: 360px){
    .header-menus{
        li{
            &:nth-child(1), &:nth-child(2), &:nth-child(3){
                display: none !important;
            } 
        }
    }
}